.cache/
.git/
.idea/
test/
tests/
venv/
venvw/
venv-dev/
**/__pycache__/

.dockerignore
.env
.env.template
.gitignore
commitlint.config.js
demo.sh
docker-compose.yaml
Dockerfile
Jenkinsfile
Jenkinsfile.*
Makefile
README.md
**/.DS_Store
**/*.pyc
